@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
    margin:0;
    font-family: Audiowide, sans-serif;
    font-size: 1.5rem;
}

.calculator {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow-wrap: break-word;

}

.display {
    background: whitesmoke;
    height: 100px;
    width: 360px;
    text-align: start;
    padding: 20px
}

@media screen and (max-width: 900px){
    .display {
        height: 20vh;
    }
}


.btns {
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.btns button {
    width:100%;
    font-family: Audiowide, sans-serif;
    font-size: 1.2rem;
}

button {
    padding:40px
}

.equals {
    grid-column: span 3;
}

